<template>
    <style>
        .rw-button {
            position: relative;
            border-radius: 5px;
            transition: all 0.3s ease-in;
            outline: none;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            padding: 15px 30px;
            background: none;
            border: none;
            font-size: 16px;
        }

        /* DEFAULT */
        .rw-button.default {
            color: #666;
            box-shadow: 1px 1px 0 rgba(204, 204, 204, 0.50);
        }
        .rw-button.default.border {
            border: solid 2px #999;
            box-shadow: none;
        }
        /* SUCCESS */
        .rw-button.success {
            background-color: #56B68B;
            color: rgba(255, 255, 255, 0.90);
            box-shadow: 1px 1px 0 #489975;
            text-shadow: 1px 1px 0 #4da37c;
        }
        .rw-button.success.border {
            border: solid 2px #4da37c;
            box-shadow: none;
        }
        /* PRIMARY */
        .rw-button.primary {
            background-color: #439fe0;
            color: rgba(255, 255, 255, 0.90);
            box-shadow: 1px 1px 0 #3988c0;
            text-shadow: 1px 1px 0 #3d92cd;
        }
        .rw-button.primary.border {
            border: solid 2px #3d92cd;
            box-shadow: none;
        }
        /* WARNING */
        .rw-button.warning {
            background-color: #ffd942;
            color: #FFF;
            box-shadow: 1px 1px 0 #dfc74c;
            text-shadow: 1px 1px 0 #dfc74c;
        }
        .rw-button.warning.border {
            border: solid 2px #dfc74c;
            box-shadow: none;
        }
        /* ERROR */
        .rw-button.danger {
            background-color: #ff5e56;
            color: rgba(255, 255, 255, 0.90);
            box-shadow: 1px 1px 0 #eb574f;
            text-shadow: 1px 1px 0 #eb574f;
        }
        .rw-button.danger.border {
            border: solid 2px #eb574f;
            box-shadow: none;
        }



        .rw-button.large {
            padding: 15px 35px;
            font-size: 20px;
        }
        .rw-button.small {
            padding: 5px 10px;
            font-size: 12px;
        }
    </style>
    <button><content></content></button>
</template>
<script>
    (function() {

        var themes = ["primary", "success", "warning", "danger"];
        var sizes = ["small", "large"];

        //Get the contents of the template
        //Make sure the template can be retrieved as an import and from the main document also
        var template = document.currentScript.ownerDocument.querySelector('template');
        //Create a prototype for this component
        var proto = Object.create(HTMLElement.prototype);

        //Register a createdCallback
        proto.createdCallback = function() {
            var clone = document.importNode(template.content, true);
            this.createShadowRoot().appendChild(clone);

            //Setup elements of interest
            this.$button = this.shadowRoot.querySelector('button');

            this.applyClasses();
        };

        proto.applyClasses = function() {
            var classes = ["rw-button"];
            if (themes.indexOf(this.getAttribute('type')) > -1) {
                classes.push(this.getAttribute('type'));
            } else {
                classes.push("default");
            }
            if (sizes.indexOf(this.getAttribute('size')) > -1) {
                classes.push(this.getAttribute('size'));
            }
            if (this.getAttribute('border') != "false") {
                classes.push("border");
            }
            this.$button.className = classes.join(" ");
        };


        //When the element is attached to the DOM populate the select
        proto.attachedCallback = function() {

        };
        //When the options are updated, re-populate the select
        proto.attributeChangedCallback = function(attrName, oldVal, newVal) {
            this.applyClasses();
        };
        //Register the element with the document
        document.registerElement('rw-button', {prototype: proto});
    }());
</script>